#skills-parent{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    div{
        padding: 10px;
        height: 100px;
        width: 100px;
        margin: 10px;
        transition: all 300ms ease;
        border-radius: 10px;
        border: 3px solid transparent;
        cursor: pointer;
        &:hover{
            border: 3px solid white;
            transform: scale(1.1);
        }
        img{
            height: 30px;
            width: 30px;
            margin-top: 10px;
        }
    }
}

#skills{
    margin-top: 100px;
}